@import "normalize";

body {
	font-family: montserrat, sans-serif;
	background: #202122;
}
.container {
	background: #000000;
	position: absolute;
	width: auto;
	display: block;
	left: 1.67vw;
	right: 1.67vw;
	top: 1.67vw;
	bottom: 1.67vw;
}
#header {
	display: flex;
	align-items: center;
	margin: 32px;
}
.logo {
	background: #202122;
	width: 72px;
	height: 54px;
	padding: 12px 8px;
}
.menu {
	width: 100%;
	text-align: right;
}
.content {
	margin: 32px 11.25vw;
}
.text {
	color: #838b91;
	font-size: 3.34vw;
	font-weight: 100;
	line-height: 1.345;
	margin: 0;
	strong {
		font-weight: 700;
	}
	&.hello {
		color: #ffffff;
    font-size: 3.75vw;
    margin-bottom: 3.83vh;
	}
	&.subtext {
		font-size: 2.92vw;
    margin-top: 11.5vh;
	}

}
.title-nav {
	color: #838b91;
	font-size: 1.25vw;
	margin: 5vh auto 1.5vh;
}
.menu-item {
	font-size: 1.25vw;
	font-weight: 500;
	color: #ffffff;
	text-decoration: none;
	margin-right: 1vw;
	&:hover {
		text-decoration: underline;
		text-decoration-color: #838b91;
	}
}