@import "normalize";

body {
	font-family: montserrat, sans-serif;
	background: #1c1528;
}
.container {
	background: {
		color: #120c1c;
		image: url("../Images/bg.png");
		repeat: no-repeat;
		position: bottom right;
		size: cover;
	}
	position: absolute;
	width: auto;
	display: block;
	left: 16px;
	right: 16px;
	top: 16px;
	bottom: 16px;
}
#header {
	display: flex;
	align-items: center;
	margin: 32px 24px;
}
.logo {
	background: #4ed3ad;
	width: 56px;
	height: 48px;
	padding: 12px 8px;
}

.menu {
	width: 100%;
	text-align: right;
}
.content {
	margin: 32px 24px;
}
.text {
	color: #4ed3ad;
	font-size: 6vw;
	font-weight: 100;
	line-height: 1.6;
	margin: 0;
	strong {
		font-weight: 700;
	}
	&.hello {
		color: #a0ffe4;
		font-size: 7.75vw;
		margin-bottom: 1.75vh;
	}
	&.subtext {
		font-size: 6vw;
		margin-top: 2.5vh;
	}
}
.menu-item {
	margin-right: 1.5vw;
	font-size: 3.75vw;
	font-weight: 500;
	color: #a0ffe4;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
		text-decoration-color: #cefff1;
	}
}
.title-nav {
	color: #4ed3ad;
	font-size: 3.75vw;
	margin: 5vh auto 1.5vh;
}

@media only screen and (max-device-width: 768px) and (orientation: landscape) {
	#header {
		margin-bottom: 24px;
	}
	.text,
	.text.hello,
	.text.subtext {
		float: left;
		font-size: 24px;
	}
	.text.text.subtext {
		margin-top: 0;
	}
	br {
		display: none;
	}
	.title-nav {
		display: block;
		clear: both;
		font-size: 18px;
		padding-top: 18px;
	}
	.menu-item {
		font-size: 18px;
	}
}

@media only screen and (min-width: 768px) {
	.container {
		left: 1.67vw;
		right: 1.67vw;
		top: 1.67vw;
		bottom: 1.67vw;
		background-size: contain;
	}
	.logo {
		width: 72px;
		height: 54px;
	}
	#header {
		margin: 32px;
	}
	.content {
		margin: 32px 11.25vw;
	}
	.text {
		font-size: 2.7vw;
		&.hello {
			font-size: 3vw;
			line-height: normal;
			margin-bottom: 1.83vh;
		}
		&.subtext {
			font-size: 2.92vw;
			margin-top: 4.5vh;
		}
	}
	.menu-item {
		font-size: 1.25vw;
		margin-right: 1vw;
	}
	.title-nav {
		font-size: 1.25vw;
		margin: 5vh auto 1.5vh;
	}
}
